@model Tyaran.DAL.Entities.Generated.MenuCategory

<h1>Category Details</h1>

<div class="card p-3">

    <p>
        <strong>ID:</strong>
        @Model.MenuCatId
    </p>

    <p>
        <strong>Category:</strong>
        @Model.Cartname
    </p>

    <p>
        <strong>Restaurant ID:</strong>
        @Model.RestaurantId
    </p>

</div>