@model Tyaran.DAL.Entities.Generated.MenuCategory

<h1>Edit Menu Category</h1>

<form asp-action="Edit" method="post">

    <input type="hidden"
           asp-for="MenuCatId" />

    <div class="mb-3">

        <label>Category Name</label>

        <input asp-for="Cartname"
               class="form-control" />

    </div>

    <div class="mb-3">

        <label>Restaurant ID</label>

        <input asp-for="RestaurantId"
               class="form-control" />

    </div>

    <div class="mb-3">

        <label>Inactive</label>

        <input asp-for="InActive"
               type="checkbox" />

    </div>

    <button type="submit"
            class="btn btn-success">
        Save
    </button>

</form>